body {
    background-color: cornflowerblue;
    font-family: Calibri, serif;
}
.headerTop{
    background-color: black;
    border-left: 10px;
    font-family: "Arial Black", serif;
    font-size: 30px;
    color: whitesmoke;
    text-align: left;
    z-index: auto;
}
.headerMain{
    background-color: whitesmoke;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodyContent {
     background-color: cornflowerblue;
     width: 80%;
     margin: 0 auto;
 }

.tab {
    overflow: hidden;
    background-color: whitesmoke;
}

.tab button {
    font-size: 30px;
    background-color: lightblue;
    float: left;
    outline: none;
    margin: 30px;
    border: none;
    cursor: pointer;
    padding: 28px 32px;
    transition: 0.4s;
}

.tab button.active {
    background-color: #ffbc4f;
    display: block;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

p {
    display: block;
    margin: 30px;
    font-size: 18px;
    text-align: left;
    text-indent: 30px;
}

